.nested-fields
	.row
		.col-xs-7
			= f.input :content, as: :text, label: false, placeholder: "Enter Note Here", input_html: { class: "form-control" }
		.col-xs-2
			=f.association :user, label: false, placeholder: "Assigned User", label_method: :email, value_method: :id, include_blank: true, :input_html => {:class => "input-small"}
		.col-xs-2
			=f.input :created_at, as: :string, label: false, disabled: true, format: :short, placeholder: "Note Date", input_html: { class: "form-control"}

		.col-xs-1
			= link_to_remove_association "Remove", f, class: "btn btn-default"

       

