.main_content
	.row
		.col-md-12
			#task_info
				%h1= @task.title
	.row
		.col-md-12
			#notes
				%h2 Notes
				%ul
					- @task.notes.each do |note|
						%li= note.content

				= link_to "Add Note", new_task_note_path(@task), class: "btn btn-default"

/	.row
/		.col-md-12
/			= link_to 'Back', root_path, class: "btn btn-default"
/			= link_to 'Destroy', @task, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-default"
/			= link_to 'Edit', edit_provider_task_path(@task), class: "btn btn-default"