.nested-fields
	.row
		.col-xs-3
			= f.input :provider_id, label: false, placeholder: "Provider", input_html: { class: "form-input" "form-control" }
		.col-xs-2
			= f.input :employees, label: false, placeholder: "Employees", input_html: { class: "form-input" "form-control" }
		.col-xs-2
			= link_to_remove_association "Remove", f, class: "btn btn-default"


